h3.tsd-anchor-link {
  margin-top: 4px;
  padding-bottom: 0;
}

h4 {
  margin: 0;
}

h4.tsd-parameters-title, h4.tsd-returns-title {
  margin-top: 12px;
}

h4[id^="example"] {
  margin-top: 12px;
  margin-bottom: 6px;
}

div.col-content {
  border: 1px solid var(--color-accent);
  border-width: 0 1px;
}

section.tsd-panel {
  border: 1px solid var(--color-accent);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 32px;
}

details.tsd-index-content {
  margin: 0;
}

summary.tsd-index-summary {
  margin: 0;
}

div.tsd-signature {
  margin-top: 24px;
}
