<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{{this}}}
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
  </head>
  <body>
    {{{this}}}
  </body>
</html>
