name: Test
on: [push]
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm ci
      - run: npm run test
      - uses: hyperse-io/vitest-coverage-reporter@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          coverage-path: ./coverage/coverage-final.json